.menu {
    display: flex;
    margin: 0px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #686767;
}
.menu h1 {
    font-size: 1.8em;
    color: #c7c7c7;
}

.head {
    max-width: 450px;
    min-width: 150px;
    padding: 0px 20px;
    border-right: 1px solid #686767
}
p{
    font-size: 0.9em;
    background:linear-gradient(to right,#33ebfc,#0072f5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav {
    margin: auto;
    padding: 20px;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 30px;
    background:linear-gradient(to right,#3394fc,#33fcc6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

a:hover {
    color: rgb(254, 254, 255);
    text-shadow: 2px 2px 5px #eb8006;
    transition: 0.5s;
}



@media (max-width: 800px){
    .head {
        padding-right: 10px;
        padding-left: 0px 10px;
        margin: 0px;
        margin-right: 10px;
    }
    .head h1 {
        margin-top: 30px;
    }
    nav {
        margin: auto 0px;
        padding: 0px;
    }
    a {
        display: flex;
        flex-direction: column;
        margin: 6px;
        padding: 5px;
        font-size: 1.1em;
    }
}