.menu {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    padding: 10px 0px;
    position: absolute;
    right: 20px;
    align-items: center;
}
.menu h1 {
    color: #c7c7c7;
    padding: 0;
    margin: 3px;
    font-size: 1.7em;
}

.head {
    max-width: 450px;
    min-width: 150px;
    padding: 0px 20px;
    text-align: end;

}
p{
    margin: 3px;
    padding: 0px;
    background:linear-gradient(to right,#33ebfc,#0072f5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-style: italic;
}

nav {
    margin: 80px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -30px;
    top: 100px;
    transform: skewX(15deg);
    border-left: solid black 10px;
    border-radius: 10px;
    box-shadow: -3px 0px 2px white;
    z-index: 100;
}

a {
    text-decoration: none;
    
    font-size: 1.5em;
    padding: 10px;
    background-color: white;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border-bottom: solid rgba(184, 181, 181, 0.771) 2px;
}

a:hover {
    color: rgb(254, 254, 255);
    text-shadow: 2px 2px 5px #eb8006;
    transition: 0.5s;
    font-size: 1.8em;
}

@media (max-width: 1300px){
    nav {
        margin: 35px;
        right: -10px;
        top: 80px;
        padding: 0px;
    }
}

@media (max-width: 800px){
    .head {
        padding-right: 10px;
        padding-left: 0px 10px;
        margin: 0px;
        margin-right: 10px;
    }
    .head h2 {
        margin-top: 5px;
        font-size: 1.1em;
    }

    a {
        display: flex;
        flex-direction: column;
        margin: 6px;
        padding: 0px;
        font-size: 1.1em;
    }
    a:hover {
        font-size: 1.3em;
    }
}
