footer {
    display: grid;
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    color: #fff;
    padding: 0px;
    text-align: center;
    margin: 0px;
}
.rodape {
    background-color: rgb(44, 44, 44);
}
.rodape > p {
    margin: 6px;
}
@media(max-width: 800px){
    footer{
        background-color: rgba(21, 20, 20, 0.352), 0.615)
    }

    .rodape p {
        font-size: 0.6em;
        transition: 1s;
    }
}